  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">

          <aside id="text-2" class="widget widget_text">
            <h3 class="widget-title">
              <span><a href="sobre">Sobre nós</a></span>
            </h3>
            <div class="textwidget">
              <p>Aqui vai o texto sobre o salão.</p>
            </div>
          </aside>


        </div>

        <div class="col-md-3">
          <aside id="text-8" class="widget widget_text">
            <h3 class="widget-title">
              <span><a href="contato">Entre em contato</a></span>
            </h3>
            <div class="textwidget">
              <div class="keepintouch">
                <p><i class="pe-7s-call"></i>  &nbsp; <a href="tel:{{ site.phone }}">{{ site.phone }}</a></p>
                <p><i class="fa fa-whatsapp"></i>  &nbsp; <a href="tel:{{ site.cellphone }}">{{ site.cellphone }}</a></p>
                <p><i class="pe-7s-mail-open-file"></i>  &nbsp; <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
                <p><i class="pe-7s-map-2"></i>  &nbsp; <a href="contato">{{ site.address }}</a></p>
              </div>
            </div>
          </aside>
        </div>

        <div class="col-md-3">
          <aside id="text-7" class="widget widget_text">
            <h3 class="widget-title">
              <span>
                Horário de funcionamento
              </span>
            </h3>
            <div class="textwidget">
              <div class="working-hours">
                <strong>Segunda – Terça:</strong> 10:00 AM – 8:00 PM<br/>
                <strong>Quarta – Sexta:</strong> 10:00 AM – 7:00 PM<br/>
                <strong>Sábado:</strong> 12:00 - 17:30<br/>
                <hr/>
                <strong>Domingo:</strong>   fechado
              </div>
            </div>
          </aside>
        </div>
        <div class="col-md-3">
          <aside class="widget">
            <h3 class="widget-title">Aceitamos os cartões</h3>
            <div>
              <img src="assets/images/visa.svg" class="icon payment-style" title="Visa">
              <img src="assets/images/diners.svg" class="icon payment-style" title="Diners Club">
              <img src="assets/images/mastercard.svg" class="icon payment-style" title="Mastercard">
              <img src="assets/images/amex.svg" class="icon payment-style" title="American Express">
              <img src="assets/images/elo.png" class="icon payment-style" title="Elo">
            </div>
          </aside>
        </div>
      </div>

    </div>

    <div class="copyright">
      <div class="container center">
        © 2017
        <a href="index">
          Corpos Bells
        </a>
        . Todos os direitos reservados
      </div>
    </div>
    <!-- .copyright -->
  </footer><!-- .site-footer -->
