<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <aside id="text-2" class="widget widget_text"><h3 class="widget-title"><span>About us</span></h3>			<div class="textwidget"><p>Hair Salon was founded in 2008 with the mission of providing hair care services with a professional but casual atmosphere.</p>
        </div>
      </aside>					<div class="social">
        <div class="social-menu"><ul id="social-menu" class="menu"><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14"><a href="https://facebook.com">Facebook</a></li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-15"><a href="https://twitter.com">Twitter</a></li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22"><a href="https://www.linkedin.com/">Linkedin</a></li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-23"><a href="https://instagram.com">Instagram</a></li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-24"><a href="https://vk.com/">Vk</a></li>
        </ul></div>					</div>
      </div>
      <div class="col-md-3">
        <aside id="text-8" class="widget widget_text"><h3 class="widget-title"><span>Keep in touch</span></h3>			<div class="textwidget"><div class="keepintouch">
          <p><i class="pe-7s-call"></i>  &nbsp; (61 2) 9251 5600</p>
          <p><i class="pe-7s-mail-open-file"></i>  &nbsp; <a href="mailto:info@thememove.com">info@thememove.com</a></p>
          <p><i class="pe-7s-map-2"></i>  &nbsp; no.200 Joseph, Canada</p>
          <p><i class="pe-7s-print"></i>  &nbsp; (61 2) 9200 5700</p>
        </div></div>
      </aside>				</div>
      <div class="col-md-3">
        <aside id="nav_menu-2" class="widget widget_nav_menu"><h3 class="widget-title"><span>Customer care</span></h3><div class="menu-customer-care-container"><ul id="menu-customer-care" class="menu"><li id="menu-item-33" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-33"><a href="index.html#">Contact Us</a></li>
          <li id="menu-item-34" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-34"><a href="index.html#">Delivery Information</a></li>
          <li id="menu-item-35" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-35"><a href="index.html#">Returns Policy</a></li>
          <li id="menu-item-36" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-36"><a href="index.html#">Privacy &#038; Security</a></li>
          <li id="menu-item-37" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-37"><a href="index.html#">Work With Us</a></li>
        </ul></div></aside>				</div>
        <div class="col-md-3">
          <aside id="text-7" class="widget widget_text"><h3 class="widget-title"><span>Working hours</span></h3>			<div class="textwidget"><div class="working-hours">
            <strong>Mon – Thurs:</strong> 10:00 AM – 8:00 PM<br/>
            <strong>Thurs – Fri:</strong> 10:00 AM – 7:00 PM<br/>
            <strong>Saturday:</strong> 12:00 - 17:30<br/>
            <hr/>
            <strong>Sunday:</strong>   CLOSED
          </div></div>
        </aside>				</div>
      </div>
    </div>
    <div class="copyright">
      <div class="container center">
        © HairSalon. All right reserved 2017.				</div>
      </div>
      <!-- .copyright -->
    </footer><!-- .site-footer -->
