<header class="site-header" role="banner">

  <div class="container site-header-container">
    <div class="row middle-xs middle-sm">
      <div class="col-md-3 col-xs-10 site-branding">
        <a href="index.html" rel="home">
          <img src="assets/images/site_logo.png" alt="HairSalon"/>
        </a>
      </div>
      <div class="col-xs-2 hidden-md hidden-lg end">
        <i id="open-left" class="fa fa-navicon">
        </i>
      </div>
      <div class="col-md-9 hidden-xs hidden-sm">
        <nav id="site-navigation" class="main-navigation hidden-xs hidden-sm">
          <div class="container">
            <div class="row middle">
              <div class="col-md-11">
                <div class="primary-menu">
                  <ul id="primary-menu" class="menu">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item current-menu-ancestor current-menu-parent menu-item-38"><a href="index">Principal</a>
                      <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-40"><a href="sobre">Sobres nós</a></li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-181"><a href="serviços">Serviços</a></li>
                      <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-39 mega-menu"><a href="portfolio">Portfolio</a></li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-180"><a href="contato">Contato</a></li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
