<div class="snap-drawers">
  <div class="snap-drawer snap-drawer-left">
    <div class="mobile-menu">
      <ul id="mobile-menu" class="menu">
        <li id="menu-item-38" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item current-menu-ancestor current-menu-parent menu-item-has-children menu-item-38">
          <a href="index">Principal</a>
        </li>
        <li id="menu-item-40" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-40">
          <a href="sobre">Sobre nós</a>
        </li>
        <li id="menu-item-181" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-181">
          <a href="serviços">Serviços</a>
        </li>
        <li id="menu-item-295" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-295">
          <a href="portfolio">Portfolio</a>
        </li>
        <li id="menu-item-180" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-180">
          <a href="contato">Contato</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="snap-drawer snap-drawer-right">
  </div>
</div>
<div id="page" class="hfeed site">
  <div class="site-top-text">
    <div class="container">
      <div class="row middle-xs middle-sm">
        <div class="col-md-12">
        </div>
      </div>
    </div>
  </div>
  <div class="site-top hidden-xs hidden-sm">
    <div class="container">
      <div class="site-top-main">
        <div class="row middle">
          <div class="col-md-6">
            <div class="top-menu">

            </div>
          </div>
          <div class="col-md-6 end-md end-lg">
            <div class="social-menu">
              <ul id="social-menu-top" class="menu">
                <li id="menu-item-14" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14">
                  <a href="http://facebook.com">Facebook</a>
                </li>
                <li id="menu-item-23" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-23">
                  <a href="https://instagram.com">Instagram</a>
                </li>
              </ul>
            </div>
            <div class="mini-cart">
              <a href="tel:(62)3287-4164">
                <div class="fa fa-phone-square">
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <header class="site-header" role="banner">

    <div class="container site-header-container">
      <div class="row middle-xs middle-sm">
        <div class="col-md-3 col-xs-10 site-branding">
          <a href="index.html" rel="home">
            <img src="assets/images/site_logo.png" alt="HairSalon"/>
          </a>
        </div>
        <div class="col-xs-2 hidden-md hidden-lg end">
          <i id="open-left" class="fa fa-navicon">
          </i>
        </div>
        <div class="col-md-9 hidden-xs hidden-sm">
          <nav id="site-navigation" class="main-navigation hidden-xs hidden-sm">
            <div class="container">
              <div class="row middle">
                <div class="col-md-11">
                  <div class="primary-menu">
                    <ul id="primary-menu" class="menu">
                      <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item current-menu-ancestor current-menu-parent menu-item-38"><a href="index">Principal</a>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-40"><a href="sobre">Sobres nós</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-181"><a href="serviços">Serviços</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-39 mega-menu"><a href="portfolio">Portfolio</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-180"><a href="contato">Contato</a></li>
                      </ul>
                    </div>
                  </div>

                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
