<header class="site-header" role="banner">

    <div class="container site-header-container">
      <div class="row middle-xs middle-sm">
        <div class="col-md-3 col-xs-10 site-branding">
          <a href="index.html" rel="home">
            <img
            src="assets/images/site_logo.png" 								alt="HairSalon"/>
          </a>
        </div>
        <div class="col-xs-2 hidden-md hidden-lg end">
          <i id="open-left" class="fa fa-navicon"></i>
        </div>
        <div class="col-md-9 hidden-xs hidden-sm">
          <nav id="site-navigation" class="main-navigation hidden-xs hidden-sm">
            <div class="container">
              <div class="row middle">
                <div class="col-md-11">
                  <div class="primary-menu"><ul id="primary-menu" class="menu"><li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item current-menu-ancestor current-menu-parent menu-item-has-children menu-item-38"><a href="index.html">Home</a>
                    <ul class="sub-menu">
                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-911 current_page_item menu-item-953"><a href="index.html">Homepage 01</a></li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-954"><a href="index.html?p=855">Homepage 02</a></li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-620"><a href="index.html?p=551">Homepage 03</a></li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-621"><a href="index.html?p=391">Homepage 04</a></li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-622"><a href="index.html?p=354">Homepage 05</a></li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-623"><a href="index.html?p=464">Homepage 06</a></li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-624"><a href="index.html?p=466">Homepage 07</a></li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-625"><a href="index.html?p=468">Homepage 08</a></li>
                    </ul>
                  </li>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-39 mega-menu"><a href="index.html#">Features</a>
                    <ul class="sub-menu">
                      <li class="menu-item menu-item-type-post_type menu-item-object-tm_mega_menu menu-item-454"><div class="mega-menu-content"><div class="vc_row wpb_row vc_row-fluid vc_custom_1441363378048"><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner vc_custom_1459499476495"><div class="wpb_wrapper">
                        <div  class="wpb_single_image wpb_content_element vc_align_center  vc_custom_1495679789551">

                          <figure class="wpb_wrapper vc_figure">
                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="230" height="370" src="assets/images/megamenu_3.jpg" class="vc_single_image-img attachment-full" alt="" srcset="assets/images/megamenu_3.jpg 230w, assets/images/megamenu_3-186x300.jpg 186w" sizes="(max-width: 230px) 100vw, 230px" /></div>
                          </figure>
                        </div>
                      </div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner vc_custom_1459499470230"><div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element  vc_custom_1459499441884" >
                          <div class="wpb_wrapper">
                            <ul>
                              <li><a href="index.html#page-builder-28-saved"><i class="fa fa-cubes"></i> Page Builder ($28 saved)</a></li>
                              <li><a href="index.html#revolution-slider-18-saved"><i class="fa fa-image"></i> Revolution Slider ($18 saved)</a></li>
                              <li><a href="index.html#essential-grid-25-saved"><i class="fa fa-th-large"></i> Essential Grid ($25 saved)</a></li>
                              <li><a href="index.html#templatera-11-saved"><i class="fa fa-puzzle-piece"></i> Templatera ($11 saved)</a></li>
                              <li><a href="index.html#blazing-fast-loading-speed"><i class="fa fa-rocket"></i> Blazing Fast Loading Speed</a></li>
                              <li><a href="index.html#one-click-sample-data"><i class="fa fa-hand-o-up"></i> One-Click Sample Data</a></li>
                              <li><a href="index.html#live-customizer"><i class="fa fa-laptop"></i> Live Customizer</a></li>
                              <li><a href="index.html#unlimited-colors"><i class="fa fa-magic"></i> Unlimited Colors</a></li>
                            </ul>

                          </div>
                        </div>
                      </div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner vc_custom_1459499465677"><div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element  vc_custom_1459499447895" >
                          <div class="wpb_wrapper">
                            <ul>
                              <li><a href="index.html#bootstrap-3-x-based"><i class="fa fa-html5"></i> Bootstrap 3.x Based</a></li>
                              <li><a href="index.html#responsive-retina"><i class="fa fa-desktop"></i> Responsive &amp; Retina</a></li>
                              <li><a href="index.html#sticky-header"><i class="fa fa-minus"></i> Sticky Header</a></li>
                              <li><a href="index.html#smooth-css3-animation"><i class="fa fa-css3"></i> Smooth CSS3 Animation</a></li>
                              <li><a href="index.html#parallax-sections"><i class="fa fa-sort"></i> Parallax Sections</a></li>
                              <li><a href="index.html#600-google-fonts"><i class="fa fa-google"></i> 600+ Google Fonts</a></li>
                              <li><a href="index.html#wpml-supported"><i class="fa fa-language"></i> WPML Supported</a></li>
                              <li><a href="index.html#font-awesome-icons"><i class="fa fa-font"></i> Font Awesome Icons</a></li>
                            </ul>

                          </div>
                        </div>
                      </div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner vc_custom_1459499460671"><div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element  vc_custom_1459499453084" >
                          <div class="wpb_wrapper">
                            <ul>
                              <li><a href="index.html#woocommerce-compatible"><i class="fa fa-shopping-cart"></i> WooCommerce Compatible</a></li>
                              <li><a href="index.html#contact-form-7-support"><i class="fa fa-map-marker"></i> Contact Form 7 Support</a></li>
                              <li><a href="index.html#six-homepage-options"><i class="fa fa-home"></i> 6+ Homepage Options</a></li>
                              <li><a href="index.html#six-homepage-options"><i class="fa fa-minus"></i> 6+ Header Styles</a></li>
                              <li><a href="index.html#two-layout-options"><i class="fa fa-columns"></i> 3+ Portfolio Styles</a></li>
                              <li><a href="index.html#two-blog-options"><i class="fa fa-newspaper-o"></i> 2+ Blog Styles</a></li>
                              <li><a href="index.html#two-our-team"><i class="fa fa-user-secret"></i> 2+ Our Team Styles</a></li>
                            </ul>

                          </div>
                        </div>
                      </div></div></div></div></div></li>
                    </ul>
                  </li>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-40"><a href="index.html#">Who We Are</a>
                    <ul class="sub-menu">
                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-246"><a href="index.html?p=183">About Us</a></li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-276"><a href="index.html?p=251">About Me</a></li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-245"><a href="index.html?p=221">Our Team</a></li>
                    </ul>
                  </li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-181"><a href="index.html?p=147">Services</a></li>
                  <li class="menu-logo menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-353"><a href="index.html">Logo</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-295"><a href="index.html?p=292">Portfolio</a>
                    <ul class="sub-menu">
                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-540"><a href="index.html?p=292">Portfolio 2 Columns</a></li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-541"><a href="portfolio-3-columns/index.html">Portfolio 3 Columns</a></li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-542"><a href="index.html?p=301">Portfolio 4 Columns</a></li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-project menu-item-543"><a href="index.html?p=287">Single Portfolio</a></li>
                    </ul>
                  </li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-182"><a href="shop.1">Shop</a>
                    <ul class="sub-menu">
                      <li class="menu-item menu-item-type-post_type menu-item-object-product menu-item-549"><a href="index.html?p=328">Single Product</a></li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-547"><a href="index.html?p=99">Cart</a></li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-548"><a href="checkout/index.html">Checkout</a></li>
                    </ul>
                  </li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-321"><a href="index.html?p=319">Blog</a>
                    <ul class="sub-menu">
                      <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-544"><a href="blog/index.html?sort=list">Blog List Style</a></li>
                      <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-545"><a href="blog/index.html?sort=grid">Blog Grid Style</a></li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-546"><a href="index.html?p=313">Blog Single Page</a></li>
                    </ul>
                  </li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-180"><a href="index.html?p=165">Contact</a></li>
                </ul></div>								</div>
                <div class="col-md-1 end">
                  <div class="search-box">
                    <form role="search" method="get" class="search-form" action="index.html">
                      <label>
                        <span class="screen-reader-text">Search for:</span>
                        <input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s" />
                      </label>
                      <input type="submit" class="search-submit" value="Search" />
                    </form>											<i class="fa fa-search"></i>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
